// Renkler
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
$primary-color: #9b9fa5;
$secondary-color: #6c757d;
$background-color: #dbdbdb;
$component-background-color: #ffffff;
$buttons-background-color:#EEF2F3;
$black:#000203;
$text-color: #212529;
$danger-color: #d90000;
// Fontlar
$font-family: 'Quicksand', sans-serif;

// Responsive Breakpoints
$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px
);
